.background {
  padding: 1em;
}

#title {
  font-size: 2em;
  text-align: center;
}

#guessedLettersCont {
  float: right;
  height: 5.5em;
  width: 10em;
  padding: .5em;
  border: .1em solid var(--black);
  margin-right: 15%;
  margin-top: 5%;
}

#guessedLettersTitle {
  text-align: center;
}

#guessedLetters {
  margin-top: .5em;
  font-size: 1.1em;
}

#wrongGuesses {
  margin-left: 10%;
  margin-top: .5em;
  margin-bottom: .5em;
}

#hangman {
  height: 20em;
  width: 15em;
  margin-left: 10%;
}

#unknownWord {
  position: relative;
  top: 2em;
  margin-left: 10%;
  font-size: 1.5em;
}

#instructions {
  margin-bottom: .5em;
  text-align: center;
}

#keyboard {
  text-align: center;
}

.letter {
  border-radius: .25em;
  background-color: var(--blue);
  padding-left: .25em;
  padding-right: .25em;
  padding-top: .1em;
  padding-bottom: .1em;
  border: .2em solid var(--blue);
  margin-left: .1em;
  margin-right: .1em;
  margin-top: .25em;
  margin-bottom: .25em;
  color: var(--white);
  font-size: 1.1em;
}

.letter:hover {
  background-color: var(--white);
  color: var(--blue);
}

#reset {
  border-radius: 5em;
  background-color: var(--white);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  border: .2em solid var(--red);
  margin-top: 1em;
  color: var(--red);
  font-weight: bold;
}

#reset:hover {
  background-color: rgba(250, 47, 47, 10%);
}
