.background {
  padding: 1em;
}

#title {
  text-align: center;
}

#wrongGuesses {
  float: right;
}

#guessedLettersCont {
  float: right;
  clear: right;
  height: 4em;
  width: 19em;
  padding: .5em;
  border: .1em solid var(--black);
}

#guessedLettersTitle {
  margin-bottom: .5em;
  text-align: center;
}

#hangman {
  height: 20em;
  width: 15em;
}

#instruct {
  text-align: center;
}

#keyboard {
  text-align: center;
}

.letter {
  margin-left: .1em;
  margin-right: .1em;
  margin-top: .25em;
  margin-bottom: .25em;
}
